{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ incident.amitt_id }} "{{ incident.name }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<p class="objecttype">Object type: {{ incident.objecttype }}</p>
<p class="year_started">Year started: {{ incident.year_started }}</p>
<p class="attributions_seen">Attributions seen: {{ incident.attributions_seen }}</p>
<p class="found_in_country">Found in country: {{ incident.found_in_country }}</p>
<p class="summary">Summary: {{ incident.summary }}</p>

<p class="actions"><a class="action" href="{{ url_for('incident.update', id=incident.id) }}">Edit</a></p>
{% endblock %}

