{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to AMITT{% endblock %}</h1>
{% endblock %}

{% block content %}

  <div>

<p>AMITT (Adversarial Misinformation and Influence Tactics and Techniques) is a framework designed for describing and understanding disinformation incidents. </p>
<p>AMITT is part of work on adapting information security (infosec) practices to help track and counter misinformation, and is designed to fit existing infosec practices and tools.

AMITT's style is based on the <a href='https://github.com/mitre-attack/attack-website/'>MITRE ATT&CK framework</a>; STIX templates for AMITT objects are available in the <a href='https://github.com/cogsec-collaborative/amitt_cti'>AMITT_CTI repository</a> - these make it easy for AMITT data to be passed between ISAOs and similar bodies using standards like TAXI.</p>

<hr>
  </div>
  <div>
    <a class="counter" href="{{ url_for('counter.index') }}">Countermeasures</a>
    <a class="detection" href="{{ url_for('detection.index') }}">Detections</a>
    <a class="framework" href="{{ url_for('framework.index') }}">Frameworks</a>
    <a class="metatechnique" href="{{ url_for('metatechnique.index') }}">Metatechniques</a>
    <a class="phase" href="{{ url_for('phase.index') }}">Phases</a>
    <a class="tactic" href="{{ url_for('tactic.index') }}">Tactics</a>
    <a class="task" href="{{ url_for('task.index') }}">Tasks</a>
    <a class="technique" href="{{ url_for('technique.index') }}">Techniques</a>
  </div>
{% endblock %}

